<form class="container" [formGroup]="invoiceform" (ngSubmit)="SaveInvoice()">
    <div class="card" style="width: 1200px">
        <h3>{{pagetitle}}</h3>

        <div class="card-body">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Invoice No</label>
                        <span class="text-danger">*</span>
                        <input formControlName="invoiceNo" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <span class="text-danger">*</span>
                        <select formControlName="customerId" (change)="customerchange()" class="form-control">
                            <option *ngFor="let item of mastercustomer" [value]="item.code">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Date</label>

                        <input type="date" id="theDate" formControlName="deliveryAddress" class="form-control"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Value</label>
                        <input formControlName="remarks" class="form-control"/>
                    </div>
                </div>

            </div>
            <br>
        

            <br>
            <div class="row">
           
                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-success" type="submit">Save</button> | 
                    <a class="btn btn-danger" routerLink="/">Back</a>
                </div>

            </div>

        </div>

    </div>
</form>